.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.landing {
    width: 50vw;
    min-height: 100vh;
    background-color: #131B33;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-weight: 400;
    width: 40vw;
    font-family: 'Roboto','sans-serif';
    padding: 0 4% 0 8%;

}

.App-header {
  background-color: #131B33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 60vw;

}

#logo {
    font-family: 'Avenir Next';
    /*font-size: 60pt*/
    font-size: calc(12px + 10vmin);
}
#subhead {
    line-height: 1.5em
}

#icon-div {
    width: 100%;
    /*background-color: #888888;*/
}

.signin-box {
    margin-bottom: 10%;
    color: #000000;
    background-color: #E6E6E6;
    width: 60%;
    font-family: 'Roboto','sans-serif';
    padding: 0 7% 7% 4%;
    line-height: 1.2em;

}

.signin-item {
    width: 100%;
    text-align: left;
}


#loginbutton {
    top: 0px;
    left: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
